body{
    background:#eee;
}

body > .header {
    height: 50px;
    overflow: hidden;
    background-color: #222;
    border-color: #080808;
    margin-bottom: 25px;
}

.header-container {
    width: 100%;
    margin: 0 auto;

}

.header-container > a {
    float: right;
    margin: 10px;
}

.header-container > img {
    height: 35px;
    margin-top: 8px;
    margin-left: 10px;
}


.container{
    width: 100%;
}
.left-content{
    width: 15%;
    float: left;
    border: 1px solid #ddd;
    height: 350px;
}
.right-content{
    width: 83%;
    float: right;
}

.nav-pills > li > a {
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}

table tr td.name{
    width:30%;
     vertical-align: middle;
}
.dealer-table tr td.type{
    width:8%;
    text-align: center;
    vertical-align: middle;
}
.dealer-table tr td.saler{
    width:7%;
    text-align: center;
    vertical-align: middle;
}
.dealer-table tr td.phone{
    width:10%;
    text-align: center;
    vertical-align: middle;
}
.dealer-table tr td.address{
    width:30%;
    vertical-align: middle;
}
.dealer-table tr td.action{
    width:11%;
    text-align: center;
    vertical-align: middle;
}
.dealer-table tr td.province{
    width:8%;
    text-align: center;
    vertical-align: middle;
}
.btn-add{
    float:right;
}
.cellEdited{
    color:red;
}