html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background:#eee;
}
.head-btn {
    float: right;
    margin-top: 40px;
    font-size:20px;
    font-family: -webkit-body;
}

.product-img{
    width:162px;
    height:65px;
    margin-top: 20px;
}
.product-box{
    height:201px;
    color: black;
    cursor: pointer;
    padding:10px;
}

.head-btn span {
    color: #ffffff;
}
.header-container {
    width: 960px;
    position: absolute;
    margin:0 auto;
    z-index: 100;
}

.nav-container{
    padding-right:0px;
    padding-left:0px;
    z-index: 100;
}

.container {
    width: 970px;
    padding-left: 0;
    padding-right: 0;
}

.header-nav {
    margin-top: 80px;
    margin-bottom:0px;
}

.container > .nav-content {
    width: 100%;
    background: #ffffff;
    display: none;
}

a {
    text-decoration: none;
    line-height: 1.8em;
    cursor: pointer;
}
a.hover {
    color: #66bc29 !important;
}
.row-border{
    border: 1px solid #888;
    border-radius:1px;
    padding:10px;
}
.nav-row{
    margin-right: 0px;
    margin-left: 0px;
}
