
body {
    background:#eee;
}
.head-btn {
    float: right;
    margin-top: 40px;
    font-size:20px;
    font-family: -webkit-body;
}

.product-img{
    max-height:100px;;
    margin-top: 40px;
}
.product-box{
    height:245px;
    color: black;
    cursor: pointer;
    padding:10px;
}

.head-btn span {
    color: #ffffff;
}
.header-container {
    width: 970px;
    position: absolute;
    margin:0 auto;
    z-index: 100;
}

.nav-container{
    border-top: 1px solid #d1d1d1;
    z-index: 100;
    background: url(../images/header/nav-border.png) no-repeat 0 bottom;
    padding-bottom: 6px;
}

.container {
    width: 970px;
    padding-left: 0;
    padding-right: 0;
}

.header-nav {
    margin-top: 80px;
    margin-bottom:0px;
}

.container > .nav-content {
    width: 100%;
    background: #ffffff;
    display: none;
}

a {
    text-decoration: none;
    line-height: 1.8em;
    cursor: pointer;
}
a.hover {
    color: #66bc29 !important;
}
.row-border{
    border-bottom: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    border-radius:1px;
    padding:10px;
    margin-top: -1px;
}
.nav-row{
    margin-right: 0px;
    margin-left: 0px;
}
.navbar-collapse.collapse {
    display: block!important;
}
.navbar-nav>li, .navbar-nav, .navbar-header {
    float: left !important;
}