body {
    background: url(../images/dealer/dealer-bg.jpg) center top no-repeat;
    zoom: 1;
}

.top-view {
    margin: 150px auto 80px;
}

.video-js {
    margin: 20px auto 50px;
    width: 800px !important;
    height: 400px !important;
}

.nav-tabs > li.active > a {
    background-color: #eee;
}

.video-container {
    margin-top: 50px;
}

.video-item {
    padding: 15px !important;
    height: 260px;
    overflow: hidden;
}

.video-item img {
    height: 175px;
    width: 100%;
    margin-bottom: 15px;
}

.video-item p {
    white-space: nowrap;
    overflow: hidden;
}

.pagination-container {
    margin-top: 30px;
}