body{
    background:#eee;
}

body > .header {
    height: 50px;
    overflow: hidden;
    background-color: #222;
    border-color: #080808;
    margin-bottom: 25px;
}

.header-container {
    width: 100%;
    margin: 0 auto;

}

.header-container > a.logout {
    float: right;
    margin: 10px;
}

.header-container >a> img {
    height: 35px;
    margin-top: 8px;
    margin-left: 10px;
}


.container{
    width: 100%;
}
.left-content{
    width: 15%;
    float: left;
    border: 1px solid #ddd;
    height: 350px;
}
.right-content{
    width: 83%;
    float: right;
}

.nav-pills > li > a {
    border-radius: 0;
    border-bottom: 1px solid #ddd;
}